---
layout: default
---

    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">

          <div class="post col-sm-9">
            <h2 class="post-title">{{ page.title }}</h2>
            <p><span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            {{ content }}
          </div>

          <div class="related col-sm-3">
            <div style="height:30px"></div>
            <h4>Related Pages</h4>
            <div class="list-group" >
            {% case page.category %}
              {% when 'news' %}
              <a class="list-group-item" href="/News.html">All News</a>
              {% when 'progress' %}
              <a class="list-group-item" href="/Progress.html">All Progress Updates</a>
              {% else %}
              <!-- unknown category -->
            {% endcase %}
          </div>

        </div>
      </div>
    </div>


